@font-face {
    font-family: Rocko;
    src: url("../src/assets/RockoFLF.ttf");
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("../src/assets/BarlowSemiCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("../src/assets/BarlowSemiCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Caveat";
    src: url("../src/assets/Caveat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Caveat";
    src: url("../src/assets/Caveat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Playwrite US Trad";
    src: url("../src/assets/PlaywriteUSTrad-Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.custom-list li::marker {
    color: #4ade80;
  }

.custom-list-2 li::marker {
    color: #d24ade;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;